body {
    /*стили главного экрана*/
    background-color: #000000;
    background-size: 100%;
    min-width: 400px;
}

a {
    /*стили header*/
    color: #c6b5b5;
    transition: all 0.5s ease-out;
    font-size: 20px;
}

.header li {
    /*стили header*/
    list-style-type: none;
}

.header{
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
}
.logo{
    width: 100px
}

.header li a:hover {
    /*header при наведении*/
    color: #3ddee2;
    text-decoration: none;

}


p {
    /*чтобы весь буквы были белыми*/
    color: #ffffff;
}

.left {
    /*Левый блок на сайте*/
    background-repeat: no-repeat;
    width: 50%;
    align-content: center;
    font-size: 30px;
    text-align: center;
}

.left img {
    /*толщина квартиры*/
    width: 90%;
}

.block {
    /*блок*/
    display: flex;
}
/*.text p{*/
/*    font-size: 15px;*/
/*}*/
.text{
    max-width: 50%;
    color: #ffffff;
    font-size: 21px;
}

.text_of_song{
    width: 50%;
    color: #ffffff;
    font-size: 21px;
    text-align: center;
}
.text_of_song p{
    font-size: 30px;

}
.text_of_song ul{
    list-style-type: none;
}

.image{
    /*стиль картинки вместе с текстом*/
    text-align: center;
    width: 50%;
    height: 50%;
    margin-top: 20px;
    font-size: 50px;
}
.image img{
    /*стиль картинки*/
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
}
.img_and_text{
    /*стиль блока, в котором по две картинки*/
    display: flex;
    margin-inline: 20px;
}
.image p:hover{
    color: #8f0808;
}
.text {
    align-items: center;
}
.image p{
    transition: all 0.5s ease-out;
}

.discribe{
    margin-top: 30px;
}