body {
    /*стили главного экрана*/
    background-color: #000000;
    background-size: 100%;
    min-width: 400px;
}

a {
    /*стили header*/
    color: #c6b5b5;
    transition: all 0.5s ease-out;
    font-size: 25px;
}

.header li {
    /*стили header*/
    list-style-type: none;
}

.header {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.logo {
    width: 100px
}

.header li a:hover {
    /*header при наведении*/
    color: #3ddee2;
    text-decoration: none;

}


p {
    /*чтобы весь буквы были белыми*/
    color: #ffffff;
}

.left {
    /*Левый блок на сайте*/
    background-repeat: no-repeat;
    width: 50%;
    align-content: center;
    font-size: 30px;
    text-align: center;
}

.left img {
    /*толщина квартиры*/
    width: 90%;
}

.block {
    /*блок*/
    display: flex;
    /*margin-top: 20px;*/
}

.text p {
    font-size: 17px;
    /*margin-top: 20px;*/
}

.text {
    max-width: 100%;
    color: #ffffff;
    font-size: 21px;
    margin-top: 20px;
}

.text_of_song {
    width: 50%;
    color: #ffffff;
    font-size: 21px;
    text-align: center;
}

.text_of_song p {
    font-size: 30px;
}

.text_of_song ul {
    list-style-type: none;
}

.image {
    /*стиль картинки вместе с текстом*/
    text-align: center;
    width: 50%;
    height: 50%;
    margin-top: 20px;
    font-size: 50px;
}

.image img {
    /*стиль картинки*/
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
}

.img_and_text {
    /*стиль блока, в котором по две картинки*/
    display: flex;
    margin-inline: 20px;
}

.image p:hover {
    color: #8f0808;
}

.image p {
    /*изменение текста над картинками альбомов*/
    transition: all 0.5s ease-out;
}

.discribe {
    /*стили описания из альбомов*/
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.images {
    display: flex;
}

.text_discribe {
    color: #ffffff;
    margin: 20px 20px 20px 20px;
    font-size: 20px;
}

.image2 {
    text-align: center;
    width: 50%;
    height: 50%;
    margin-top: 20px;
    font-size: 17px;
}

.image2 p:hover {
    color: #8f0808;
}

.image2 p {
    /*изменение текста над картинками альбомов*/
    transition: all 1s ease-out;
}

.image2 img {
    /*стиль картинки*/
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 20px;
}

.modal-footer{
    font-size: 15px;
}
.modal-footer a{
    font-size: 15px;
    text-decoration: none;
}
form{
    margin: 20px 20px 20px 20px;
}